<div class="featured_links_style-- container feat_list">
  <div class="sixteen columns featured_links">
<!-- Section Base to buile repeater on -->
      <div class="section clearfix">
         <div class="one-third column alpha">
            <div class="image_container ">
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Three_Pillars_Funtion-1_1024x.jpg?v=1500750126">
              <span>RECYCLED MATERIALS</span>
            </div>
          </div>

          <div class="two-third column omega">
            <div class="text_container">
              <p>Behind every Holden design is the commitment to maintain and improve quality while reducing environmental impact. That means evaluating every process, material, factory and shipping option to determine the best ways to make the least impact and still deliver the best possible product. Holden is also running from a 100% solar run</p>
            </div>
          </div>
        </div>
        <!-- EO  -->
  </div>
</div>