<div class="shopify-section headline-section featured-content-section"><div class="clearfix">
  <div class="container">
    <div class="sixteen columns">
      <div class="section center clearfix">



          <h2 class="title">
            TIMELESS QUALITY SINCE 2002
          </h2>


        <div class="regular_text">

            <p>Holden is the leader in fashion-forward, eco-conscious outerwear. 15 years ago, Holden redefined the market, innovating the combination of fashion, function and eco-conscious sensibility in an industry that valued performance above all else. Since 2002, Holden has stood for Timeless Quality™ and substance. The original intent of bringing style to the harshest environments remains the primary inspiration.</p>



        </div>
      </div>
    </div>
  </div>
</div>


</div>