<div>
  {% for block in section.blocks %}
  <div class="grid-item">
    {% case block.type %}

      {% when 'imageText' %}
        {% include 'snippet_image-with-text-overlay-section' %}

      {% when 'featPromo' %}
        {% include 'snippet_featured-promotions' %}

    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "blocks": [

      {
        "type": "imageText",
        "name": "Image with text overlay",
        "settings": [
          {
            "type": "checkbox",
            "id": "image_stretch",
            "label": "Stretch to full screen width",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "subtext",
            "label": "Subheading",
            "default": "<p></p>"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "featPromo",
        "name": "Featured promotions",
        "settings": [
          {
            "type": "select",
            "id": "featured_links_style",
            "label": "Animation",
            "options": [
              {
                "value": "",
                "label": "None"
              },
              {
                "value": "circle",
                "label": "Circle"
              },
              {
                "value": "cross",
                "label": "Crossed Lines"
              },
              {
                "value": "double_underline",
                "label": "Double underline"
              },
              {
                "value": "underline",
                "label": "Underline"
              }
            ],
            "default": "cross"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1",
            "info": "420px wide minimum"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Heading 1",
            "default": "Promotion"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "420px wide minimum"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Heading 2",
            "default": "Promotion"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "420px wide minimum"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Heading 3",
            "default": "Promotion"
          },
          {
            "type": "url",
            "id": "link_3",
            "label": "Link 3"
          }
        ]
      }





    ]
  }
{% endschema %}