<!-- /templates/page.eco.liquid -->

<div class="grid--full eco wrapper ">
  <div class="grid__item large--one-whole xlarge--two-thirds push--xlarge--one-sixth">
    <h1 class= "page-title text-center wow fadeInUpBig">{{ page.title }}</h1>
    <div class = "wow fadeInUpBig _1">
  <!--//// PAGE CONTENT START ////-->
    </div>
  </div>
</div>


<div class="hold-eco grid--full ">
  <div class="hero-section">
    <div class="eco header-wrapper">
      <div class="filter"></div>
      <div class="hero-text   hero-content-wrapper">
      <!-- Site Info -->
         <div class="before-photo"></div>

      </div>
      <!-- Hero Photo-->
      <div class="hero">
        <div class="eco hero-photo _3 animated fadeInUpBig" data-bg="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-11_wide.jpg?17427667529629534420"></div>
        </div>
    </div>
  </div>
  <div class="eco__grid grid wrapper ">
    <!-- row 1 start -->
    <div class="grid__item">
          <div class="grid--full feature-1-wrapper overlay">
            <div class="feature-1-images">
              <div class="feature-1-image-1" id="ProductFeatures">
                <img class="feature-1-image-1-img lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-20.jpg?15769093264940279853" src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-20.jpg?15769093264940279853">
              </div>
              <div class="feature-1-image-2  mobile-image-2-left ">
                <img class="feature-1-image-2-img lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-2_edit.jpg?12506689709764202469" src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-2_edit.jpg?12506689709764202469">
              </div>
            </div>
            <div class="feature-1-text send-left wow fadeInRightBig">
              <p class="product-feature-description">
                For Holden, creating environmentally friendly products represents a moral imperative, not a trendy feature set. In 2004 we committed to being what we call, "eco-friendlier." At the time we didn’t know what that looked like or how to proceed, so we started pushing. Pushing our minds on how to do things better and how to make things a better way for the environment. Our initial approach back in 2004 was to work alongside our material vendors to develope eco-options and our packaging vendors for better way. We’ve been improving and adding eco-options to our process year after year since then, always reevaluating the process and updating to the most current options along&nbsp;the&nbsp;way.
              </p>
            </div>
          </div>
    </div>
    <!-- row 2 start -->
    <div class="grid__item eco-2">
          <div class="grid--full feature-2-wrapper">
            <div class="feature-2-images">
              <div class="feature-2-image-1-wrapper">
                <img class="feature-2-image-1 lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-24.jpg?2408450367058882035" src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-24.jpg?2408450367058882035">
              </div>
              <div class="grid__item medium--one-whole feature-2-image-2  mobile-image-2-right ">
                <img class="feature-2-image-2-img lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-4.jpg?4861483856489325217" src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-4.jpg?4861483856489325217">
              </div>
            </div>
            <div class="feature-2-text send-right wow fadeInLeftBig">
              <p class="product-feature-description left">
              Holden products utilize recycled fabrics and insulations, and also offer a water-resistant fabric with solvent free-laminations and a water resistant coating that’s PFOA-free, simply because it’s the right thing to do. We also package our products in fully biodegradable, acetate ethylene shipping bags. And new in 2016 we are happy to announce we moved into a 100% solar building.  Simple said, we try to inject sustainability into everything we&nbsp;do.
              </p>
            </div>
          </div>
    </div>
    <!-- row 3 start -->
    <div class="padding-top grid--full grid--table eco-quote featured-content-wrapper wow fadeInRightBig">
      <div class="grid__item medium-down--one-whole eco-quote-text-image wow fadeInLeftBig">
        <div>
          <img class="image lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16.jpg?17158658608405758067" src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16.jpg?17158658608405758067">
        </div>
      </div>
      <div class="grid__item medium-down--one-whole eco-quote-text-col wow fadeInRightBig _1">
        <div class="quote-text text-justify">
          <h3 class="p1">
            <span class="s1 text-italic">“Our focus has always been on trying to develop more natural looking, eco-friendlier fabrics that don't look like performance fabrics. To execute this in a high-quality way and still achieve the highest level of performance is still one of the most interesting developments in technical materials to me.”
            </span>
            <br>
            <span class="s2"><strong> – SZ, Design Director</strong></span>
          </h3>
          <span class="featured-content-spacer-line"></span>
        </div>
      </div>
    </div>
    <!-- Row 4 START -->
    <div class="grid--full">
      <div class="eco-last grid__item medium-down--one-whole">
        <div class="last-text">
          <p><strong>Holden spends countless hours and resources innovating in the eco-field. From developing a world's first, award-winning “eco-friendlier” performance hemp fabric in 2005, to sourcing solvent-free laminations. Here are a few of the eco-friendlier things we use everyday.</strong></p>
          <ul>
            <li>SOLVENT-FREE FABRICS</li>
            <li>PFOA-FREE DWR</li>
            <li>BIODEGRADABLE PACKAGING</li>
            <li>RECYCLED FABRICS</li>
            <li>NATURAL FIBER FABRICS</li>
            <li>100% SOLAR OFFICE</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Row 5 START -->
    <div class="padding-top grid--full">
      <div class="grid__item medium-down--one-whole push--large--one-eighth large--three-quarters">
      <img src="https://cdn.shopify.com/s/files/1/0015/9582/files/Eco_image_web_16-9.jpg?9919068783217415480" alt="last eco image" />
      </div>
    </div>
  </div>



