<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    <!-- {{ page.title }} -->
  </h1>
</div>

<div class="sixteen columns page">

  {% section 'eco-headline-section' %}


  <div class="shopify-section featured-promotions-section">
<div class="featured_links_style--cross container">
  <div class="sixteen columns featured_links">
    <div class="section clearfix">

        <div class="featured_links_block

            one-third column alpha
          ">
          <a href="">
            <div class="image_container ">

                <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Three_Pillars_Funtion-1_1024x.jpg?v=1500750126" alt="">


                <span>Recycled Materials</span>

            </div>
          </a>
        </div>

        <div class="featured_links_block

            one-third column
          ">
          <a href="">
            <div class="image_container ">

                <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Three_Pillars_ECO-1_1024x.jpg?v=1500749777" alt="">


                <span>Biodegradable Packaging</span>

            </div>
          </a>
        </div>

        <div class="featured_links_block

            one-third column omega
          ">
          <a href="">
            <div class="image_container ">

                <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Three_Pillars_Style-1_1024x.jpg?v=1500749975" alt="">


                <span>Responsible Down</span>

            </div>
          </a>
        </div>

    </div>
  </div>
</div>


</div>


</div>